.header{
    height: 80px;
    background-color: #209CEE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a{
    
    text-decoration: none;    
    margin-left: 36px;
    font-weight: 400;
}


.titleStyle{
    color: white;
    margin-right: auto;
    font-size: 24px;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 12px;
    
}

.activated {
    color: yellow;
    font-size: 20px;
    padding: 25px;
    border-bottom: 7px solid yellow;
    background-color: rgb(117, 117, 243);
    
}

.not-activated{
    color: white;
    font-size: 20px;
}